@using CarService.Web.Areas.Administration.ViewModels

<h2>Service centers administration</h2>

<div class="row">
    <div class="col-lg-12">
        @(Html.Kendo()
                .Grid<CarServiceCenterViewModel>()
                .Name("service-centers")
                .Columns(
                    cols =>
                    {
                        cols.Bound(x => x.ServiceCenterId);
                        cols.Bound(x => x.Name);
                        cols.Bound(x => x.StreetAddress);
                        cols.Bound(x => x.Location);
                        cols.Bound(x => x.CreatedOn).Format("{0:dd.MM.yyyy}");
                        cols.Bound(x => x.ModifiedOn).Format("{0:dd.MM.yyyy}");                       
                        cols.Command(cmd =>
                        {
                            cmd.Edit();
                            cmd.Destroy();
                        });
                    }
                )
                .ToolBar(toolbar => toolbar.Create().Text("Add new service center"))
                .DataSource(data =>
                {
                    data.Ajax()
                        .PageSize(10)
                        .ServerOperation(true)
                        .Model(model => model.Id(m => m.ServiceCenterId))
                        .Read("GetServiceCenters", "ServiceCenters")
                        .Update("UpdateServiceCenter", "ServiceCenters")
                        .Destroy("DeleteServiceCenter", "ServiceCenters")
                        .Create("CreateServiceCenter", "ServiceCenters");
                })
                .Editable(x => x.Mode(GridEditMode.PopUp))
                .Pageable(p => p.PageSizes(true).Refresh(true))
                .Sortable()
                .ClientDetailTemplateId("template")
                .Events(events => events.DataBound("dataBound")))

        <script id="template" type="text/kendo-tmpl">
            @(Html.Kendo()
            .TabStrip()
            .Name("tabStrip_#=ServiceCenterId#")
            .SelectedIndex(0)
            .Animation(animation => animation.Open(open => open.Fade(FadeDirection.In)))
            .Items(items =>
            {
                items.Add().Text("Available services").Content(obj =>
                Html.Kendo()
                    .Grid<CarServiceViewModel>()
                    .Name("grid_#=ServiceCenterId#")
                    .Columns(columns =>
                        {
                            columns.Bound(s => s.Name);
                            columns.Bound(s => s.CarModelName);
                            columns.Bound(s => s.Manufacturer);
                            columns.Bound(s => s.Year);
                            columns.Command(cmd =>
                                {                                    
                                    cmd.Destroy();
                                });
                        })
                    .ToolBar(toolbar => toolbar.Create().Text("Add cervice"))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(5)
                        .Model(model => model.Id(m => m.CarServiceId))
                        .Read(read => read.Action("GetCarServicesForServiceCenter", "CarServices", new { serviceCenterId = "#=ServiceCenterId#" }))
                        .Destroy("DeleteCarServiceFromServiceCenter", "CarServices", new { serviceCenterId = "#=ServiceCenterId#" })
                        .Create("CreateCarServiceForServiceCenter", "CarServices", new { serviceCenterId = "#=ServiceCenterId#" }))                        
                    .Pageable()
                    .Sortable()
                    .Editable(x=> x.Mode(GridEditMode.PopUp))
                    .ToClientTemplate()
                    );                
                })
                .ToClientTemplate())            
        </script>

        <script>
        function dataBound() {
            this.expandRow(this.tbody.find("tr.k-master-row").first());
        }
        </script>

        <style scoped="scoped">
            .k-detail-cell .k-tabstrip .k-content {
                padding: 0.2em;
            }

            .employee-details ul {
                list-style: none;
                font-style: italic;
                margin: 15px;
                padding: 0;
            }

                .employee-details ul li {
                    margin: 0;
                    line-height: 1.7em;
                }

            .employee-details label {
                display: inline-block;
                width: 90px;
                padding-right: 10px;
                text-align: right;
                font-style: normal;
                font-weight: bold;
            }
        </style>

    </div>
</div>

