@using CarService.Web.Areas.User.Models
@{
    ViewBag.Title = "ServiceCenters";
}

<h2>ServiceCenters</h2>

@(Html.Kendo()
        .Grid<CarServiceCenterViewModel>()
    .Name("service-centers")
    .Columns(columns =>
        {
            columns.Bound(model => model.Name);
            columns.Bound(model => model.StreetAddress);
        })
        .ClientRowTemplate(
        "<tr data-uid='#: uid #'>" +
            "<td>" +
                        "<a href='" + Url.Content("~/User/ServiceCenter/ServiceCenterDetails/?id=") + "#: Id #" + "'>" + "#: Name #" + "</a>" +
            "</td>" +
            "<td>" +
                    "#: StreetAddress #" +
            "</td>" +
         "</tr>"
        )
        .Pageable(p =>
            p.PageSizes(true)
            .Refresh(true)
        )
        .Sortable()
        .Filterable()
        .DataSource(data =>
        {
            data.Ajax()
                .PageSize(10)
                .ServerOperation(true)
                .Read("GetServiceCentersForGrid", "ServiceCenter");
        })

)

