<h2>Fun zone</h2>

<div class="col-md-3 pull-right">
    <div id="mapCanvas"></div>   
</div>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

@Scripts.Render("~/bundles/markerevent")
