@using CarService.Web.ViewModels
@model IEnumerable<ServiceCenterViewModel>

<div class="page-header">
    <h2 id="navbar">Last added service centers</h2>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@item.Name</h3>
                </div>
                <div class="panel-body">

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="Public/ServiceCenterDetails/?id=@item.Id">
                            <img src="@item.ImgUrl" class="img-responsive" />
                        </a>
                    }
                    else
                    {
                        <a href="User/ServiceCenter/ServiceCenterDetails/?id=@item.Id">
                            <img src="@item.ImgUrl" class="img-responsive" />
                        </a>
                    }

                    <div class="container">
                        Address : @item.StreetAddress
                    </div>

                </div>
            </div>
        </div>
    }
</div>



