@using Microsoft.AspNet.Identity

@model CarService.Web.Models.ServiceCenterViewModel

@{
    ViewBag.Title = "ServiceCenterDetails";
}

<h2>@Model.Name</h2>
<h3>Address : @Model.StreetAddress</h3>




