body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#homepage-jumbotron{
    background-image : url('../Imgs/logos/index.jpg');
    background-repeat :no-repeat;    
    background-size :cover;
    color : #bdb4b4;
    height : 300px;
}

#list-car-models{
    height : 150px;
    overflow-y : auto;
}

.home-page-img{
    /*width : 150px;
    height : 150px;*/   
    max-width : 100%;
    max-height : 100%;
}